<ul id="nav" class="nav justify-content-center">
  <li class="nav-item">
      <button type="button" class="nav-link btn btn-outline-secondary btn-sm" routerLink="/inicio">Inicio</button>
  </li>
  <li class="nav-item">
      <button type="button" href="#enviar" class="nav-link btn btn-outline-secondary btn-sm" routerLink="/enviar-mensagem">Enviar Mensagem</button>
  </li>
  <li class="nav-item">
  <button type="button" href="#pesquisar" class="nav-link btn btn-outline-secondary btn-sm" onclick="update_msgs(); show(pesquisar); set_hidden(enviar)">Pesquisar</button>
  </li>
  <li class="nav-item">
  <button type="button" href="#apagar" class="nav-link btn btn-outline-secondary btn-sm" onclick="get_msgs_front(); set_hidden(enviar); set_hidden(pesquisar)">Apagar</button>
  </li>
  <li class="nav-item">
      <button type="button" href="#login" class="nav-link btn btn-outline-secondary btn-sm" onclick="logout(); set_button_login(); set_hidden(enviar); set_hidden(pesquisar);">
          <span id="name_button">Login</span>
      </button>
  </li>
</ul>
