<div>
    <ul id="nav" class="nav justify-content-center">
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-outline-secondary btn-sm" (click)="attMural()">Inicio</button>
        </li>
        <li class="nav-item">
            <button type="button" href="#enviar" class="nav-link btn btn-outline-secondary btn-sm" (click)="setExibirEnvio()">Enviar Mensagem</button>
        </li>
        <li class="nav-item">
        <button type="button" href="#pesquisar" class="nav-link btn btn-outline-secondary btn-sm">Pesquisar</button>
        </li>
        <li class="nav-item">
        <button type="button" href="#apagar" class="nav-link btn btn-outline-secondary btn-sm">Apagar</button>
        </li>
        <li class="nav-item">
            <button type="button" href="#login" class="nav-link btn btn-outline-secondary btn-sm">
                <span id="name_button">Login</span>
            </button>
        </li>
    </ul>
    <app-envio-mensagens *ngIf="exibirEnvio"></app-envio-mensagens>
</div>
