div.card-header {
  background-color: rgba(236, 235, 235, 0.52);
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

div.card {
  border: 1px solid rgba(0, 0, 0, 0.219);
  float: left;
  max-width: 18rem;
  margin-right: 15px;
  height: 152px;
  width: 251px;
  overflow: auto;
}
